.priceWrapper {
    color: #000;
    font-size: 18px;
    /* margin-top: 8px;
    margin-bottom: 2rem; */
}
.priceSymbol {
    color: #222;
    font-weight: 700;
    font-size: 14px;
    text-decoration: none;

}
.price {
    color: #222;
    font-weight: 700;
    font-size: 14px;
    text-decoration: none;

}