.priceWrapper {
    color: #000;
    font-size: 18px;
    /* margin-top: 8px;
    margin-bottom: 2rem; */
}
.priceSymbol {
    color: #000;
    box-sizing: border-box;
    position: relative;
    top: -.5em;
    font-size: 12px;
}
.price {
    margin-left: 5px;
}