.styleInput {
    padding: 8px;
    display: block;
    border: none;
    border-bottom: 1px solid #ccc;
    width: 100%
  }
  
  .styleSelect {
    padding: 9px 0;
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc
  }
  
  .styleDropdownClick, .styleDropdownHover {
    position: relative;
    display: inline-block;
    cursor: pointer
  }
  
  .styleDropdownHover:hover .styleDropdownContent {
    display: block
  }
  
  .styleDropdownHover:first-child, .styleDropdownClick:hover {
    background-color: #ccc;
    color: #000
  }
  
  .styleDropdownHover:hover>.styleButton:first-child, .styleDropdownClick:hover>.styleButton:first-child {
    background-color: #ccc;
    color: #000
  }
  
  .styleDropdownContent {
    cursor: auto;
    color: #000;
    background-color: #fff;
    display: none;
    position: absolute;
    min-width: 160px;
    margin: 0;
    padding: 0;
    z-index: 1
  }
  
  .styleCheck, .styleRadio {
    width: 24px;
    height: 24px;
    position: relative;
    top: 6px
  }
  
  /* Button */
  
  .styleButton {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
  }
  
  .styleButton:disabled {
    cursor: not-allowed;
    opacity: 0.3
  }
  
  .styleButton:hover {
    color: #000!important;
    background-color: #ccc!important
  }
  
  /* Button */