h1 {
    font-size: 36px
}

h2 {
    font-size: 30px
}

h3 {
    font-size: 24px
}

h4 {
    font-size: 20px
}

h5 {
    font-size: 18px
}

h6 {
    font-size: 16px
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Segoe UI", Arial, sans-serif;
    font-weight: 400;
    margin: 10px 0
}

.width100 {
    width: 100%;
}

.styleTag {
    background-color: #000;
    color: #fff;
    display: inline-block;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center
}

/* List */

.styleUl {
    list-style-type: none;
    padding: 0;
    margin: 0
}

.styleUl li {
    padding: 8px 16px;
    border-bottom: 1px solid #ddd
}

.styleUl li:lastChild {
    border-bottom: none
}

/* List */

/* Tooltip */

.styleTooltip {
    position: relative
}

.styleTooltip .styleText {
    display: none
}

.styleTooltip:hover .styleText {
    display: inline-block
}

/* Tooltip */

/* Colors */

.styleBlack {
    color: #fff!important;
    background-color: #000!important
}

/* Colors */